
<!DOCTYPE html>
<html ng-app="TTTApp">
<head>
<title>Earth vs. Mars - Tic Tac Toe</title>
  <!--App  --> 
   <link href='https://fonts.googleapis.com/css?family=Neucha|Ubuntu|Walter+Turncoat' rel='stylesheet' type='text/css'>
  
   <!-- Normalize CSS -->
    <link rel="stylesheet" src="https://normalize-css.googlecode.com/svn/trunk/normalize.min.css">
    <!-- App CSS -->
  <link rel="stylesheet" href="style.css">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
    <!-- App javascript -->
    <script src="app.js"></script>
</head>
<body><h1> Earth vs. Mars Tic Tac Toe</h1>
    <div ng-controller="TTTController" ng-model="gameContainer" > 
 
<table width="90%" align="right" cellpadding="10px">
  <tr>
    <td>
      You Are Player  #{{imPlayer}} 
    </td>
    <td>
   
  Earth Wins: <div x-ng-bind="gameContainer.theGameScore.xScore"></div>
</td>
<td>
Mars Wins: <div x-ng-bind="gameContainer.theGameScore.oScore"></div> 
</td>
<td>
Number of Ties: <div x-ng-bind="gameContainer.theGameScore.ties"></div> 
</td>
<td width="30%">
  <button class="button" x-ng-click="resetButton()">Reset Button</button><br />

    
        
</td>
</tr>
</table>


    CLICK COUNTER: {{gameContainer.moveCount}}<br />
        <button class="buttonRules" ng-click="rules = !rules">Rules!</button>
          <div ng-show="rules" class="rules">
          <p>Tic Tac Toe is a two player game that can be played on either one or two computers, smartphones, or tablets.
          </p>
          <p> X always moves first and places a piece on any empty space. Then it's O's turn to do the same. A player wins by being the first to connect three spaces in a row. If no player is able to connect three spaces, it's a tie and the game is over. Enjoy!
          </p>

    
          </div>
<div class="theBox">
<div class="render" x-ng-bind="gameContainer.render"></div>

      <div x-ng-repeat="currentCell in gameContainer.cellListArray">

        <div class="allCellsAlways"
           x-ng-class="{xclass: currentCell.status=='X', oclass: currentCell.status =='O'}" ng-click="playerPicks(currentCell)" ng-click="{'allCellsAlways:active' : check}" >
          
        </div></div>
      </div>

     
  
    </div>

  
</div>

</body>
</html>
