
body {background-color:#F2F2F2;}

.container{
  min-height: 100%;
  margin: 0; 
  border: 0;
}
h1 {
	background-color: black;
	letter-spacing: 3px;
	color: white;
	font-size: 20px;
	width: 800px;
	padding: 10px;
	margin: 0 auto; 
}

#article{
	height: 480px;
	width:500px;
	text-align: center;
  /*background-color:red;*/
	border-radius: 10px;
  margin: 0 auto; 
  
}

#article img {
	{width: 150px; height: 150px;}
}
.box{
	width:150px; 
	height:150px; 
float: left;
	text-align: center;
padding: 5px;

}

div img {width: 150px; height: 150px;}

.r img {width: 150px; height: 150px;}

.g img {width: 150px; height: 150px;}


.b img {width: 150px; height: 150px;}

.r{
	background-color: lightgrey;

}

.g{
	margin-left:15px;
	margin-right:15px;
	background-color: lightgrey;
}

.b{
	background-color: lightgrey;
}

#c0 {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#c1 {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#c2 {
	border-left: 1px solid black;

	border-bottom: 1px solid black;
}

#c3 {
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#c4 {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#c5 {
	border-top: 1px solid black;
	border-left: 1px solid black;

	border-bottom: 1px solid black;
}
#c6 {
	border-top: 1px solid black;
	

	border-right: 1px solid black;
}
#c7 {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	
}

#c8 {
	border-top: 1px solid black;
	border-left: 1px solid black;
	
}

.boxForX {
	background-image: url(x.png);
	background-size: 125px 125px;
    background-repeat: no-repeat;
    background-position: center;

    float: left;
    width:150px; 
	height:150px; 
	text-align: center;
	padding: 5px;

}

.boxForO {
	background-image: url(O.png);
	background-size: 125px 125px;
    background-repeat: no-repeat;
    background-position: center;

    float: left;
    width:150px; 
	height:150px; 
	text-align: center;
	padding: 5px;
}


p {
	display: table-cell; 
	width: 150px; 
	height: 150px; 
	vertical-align: middle; 
	text-align: center; 
	font-family: arial; 
	font-size: 35pt; 
	color: black;
}

/*the usual suspects begin*/
.float_right{
	float: right;
}
.float_left{
	float: left;
}
/*needed to cause auto expansion of container div*/
.clearboth{
	clear: both;
}
/*the usual suspects end*/
html {
    height: 100%;
    }

body {
    height: 100%;
    }