<!DOCTYPE html>
<html ng-app="TTTApp">
<head>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <script src="app2.js"></script>

</head>
<body>
    <div ng-controller="TTTController">
        
        CLICK COUNTER: {{movecounter}}
        
       
           
             <div class="theBox">

                <div class="allCellsAlways" ng-repeat="currentCell in cellList" 
                ng-class="{xclass: currentCell.status=='X', oclass: currentCell.status =='O', clearFix: clearFunction()}" 

                ng-click="playerPicks(currentCell)">


                </div>
</div>

              
            </div>

        
         <br />
    
    <br>
   
    <p></p><br
    <button ng-click="testJS()">TEST BUTTON</button>
</div>

</body>
</html>
