
<!DOCTYPE html>
<html ng-app="TTTApp">
<head>

  <!--App  --> 
   <link href='http://fonts.googleapis.com/css?family=Neucha|Ubuntu|Walter+Turncoat' rel='stylesheet' type='text/css'>
  
   <!-- Normalize CSS -->
    <link rel="stylesheet" src="https://normalize-css.googlecode.com/svn/trunk/normalize.min.css">
    <!-- App CSS -->
  <link rel="stylesheet" href="style.css">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
    <!-- App javascript -->
    <script src="app.js"></script>
</head>
<body><h1> Martians vs. Humans</h1>
    <div ng-controller="TTTController" ng-model="gameContainer" > 
  <div>MOVE COUNTER: {{gameContainer.moveCount}}</div>
   
  Earth Wins: <div x-ng-bind="gameContainer.theGameScore.oScore"></div>
Martian Wins: <div x-ng-bind="gameContainer.theGameScore.xScore"></div> 
<div x-ng-bind="render"></div>


<button class="button" x-ng-click="resetButton()">Reset Button- Player {{imPlayer}}</button>
<div class="theBox">


      <div x-ng-repeat="currentCell in gameContainer.cellListArray">

        <div class="allCellsAlways"
           x-ng-class="{xclass: currentCell.status=='X', oclass: currentCell.status =='O'}" ng-click="playerPicks(currentCell)" ng-click="{'allCellsAlways:active' : check}">
          Cell Contents: {{currentCell.status}}
        </div></div>
      </div>

     
  
    </div>

        
</div>

</body>
</html>
