.theBox {
	height: 480px;
    width:500px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto; 
}

h1 {
    background-color: black;
    letter-spacing: 3px;
    color: white;
    font-size: 30px;
    vertical-align: middle;
    width: 100%;
   height: 50px;
    margin: 0 auto;
    text-align: center; 
    font-family: 'Walter Turncoat', cursive;
}
.leftBar {
    width: 50px;
    background-color: black;
    float:left;
    height: 1000px;
    color: black;

}
.rightBar {
    width: 50px;
    background-color: black;
    float:right;
    height: 1000px;
    color: black;

}
.leftBar2 {
    width: 50px;
    padding-left: 20px;
    float:left;
    height: 1000px;
    color: black;

}
.rightBar2 {
    width: 50px;
  
    float:right;
    height: 1000px;
    color: black;

}

.clearFix {clear:both;
}

.allCellsAlways {
   width:150px; 
    height:150px; 
float: left;
    text-align: center;
padding: 5px;
border: 1px solid black;
}

.xclass {
	background-image: url(x.png);
    background-size: 125px 125px;
    background-repeat: no-repeat;
    background-position: center;
}

.oclass {
	background-image: url(o.png);
    background-size: 125px 125px;
    background-repeat: no-repeat;
    background-position: center;;
}

.blankclass {
	background-color: gray ;
}