.theBox {
	height: 480px;
    width:500px;
    text-align: center;
 background-color: white;
    border-radius: 10px;
  margin: 0 auto; 
}

h1 {
    background-color: black;
    letter-spacing: 3px;
    color: white;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    margin: 0 auto; 
}

.clearFix {clear:both;
background-color: blue;}

.allCellsAlways {
   width:150px; 
    height:150px; 
float: left;
    text-align: center;
padding: 5px;
border: 1px solid black;
}

.xclass {
	background-image: url(x.png);
    background-size: 125px 125px;
    background-repeat: no-repeat;
    background-position: center;
}

.oclass {
	background-image: url(o.png);
    background-size: 125px 125px;
    background-repeat: no-repeat;
    background-position: center;;
}

.blankclass {
	background-color: gray ;
}